@import "@styles/abstracts/variables";

.wk-checkbox {
  cursor: pointer;
  font-size: 14px;
  input[type="checkbox"] {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  display: flex;
  align-items: center;
  &__cb {
    height: 20px;
    width: 20px;
    background: #fff;
    border: 2px $dark-gray solid;
    margin-inline-end: 4px;
    border-radius: 5px;
    &--active {
      border-color: $primary;
      background: $primary;
    }
  }
}
