@import "@styles/abstracts/variables";

.wk-button {
  line-height: 1.2;
  padding: 8px;
  outline: transparent solid 2px;
  outline-offset: 2px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 600;
  &:hover {
    background-color: darken($primary, 10%);
  }
  &:active {
    background-color: darken($primary, 20%);
  }
  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
    &:hover {
      background-color: $primary;
    }
  }
  &__primary {
    background: $primary;
    color: $light-gray;
  }
  &__secondary {
    background: $secondary;
    color: $light-gray;
  }
}
