.wk-main-layout-header {
  padding: 0.25rem 1rem;
  height: 4rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  box-shadow: 0px 3px 4px 0px rgb(226, 226, 226);
  background-color: #fff;
  &__logo {
    width: 3rem;
    margin-inline-end: 1rem;
    @media only screen and (min-width: 576px) {
      margin-inline-end: 3rem;
    }
  }
}
